page-login {
    .scroll-content {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    ion-card.card {
        box-shadow: none;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    a, p,ion-card-header.card-header {
        color: #fff!important;
    }

    .item {
        margin-bottom: 10px;
        border: medium none;
    }

    .bottom {
        position: absolute;
        bottom: 0;
    }

    .logoLogin{
        width: 70%;
        margin: 5% auto
    }

}
