<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title> Treinos - Ativos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bkgPages">

    <ion-row>

      <div [ngSwitch]="typeTreino" style="width: 100%;">

        <ion-col col-12 class="gifExerc" no-padding *ngSwitchCase="'hoje'">

          <div class="boxTreino" padding (click)="openPage(treino)" *ngFor="let treino of treinoHoje">
            <h3> {{treino[1]}}  <ion-icon name="md-checkmark-circle" float-right class="checado"></ion-icon>  </h3>
            <p>Criado por: {{treino[4]}}</p>
            <p no-margin> <span><ion-icon name="md-calendar"></ion-icon> Período:</span>  {{treino[2]}} <span>a</span> {{treino[3]}}</p>
          </div>

          <ion-grid [hidden]="NothignToday == true">
              <ion-row>
                <ion-col class="msgNothing" col-12 padding>
                    Nenhum Treino para Hoje
                </ion-col>
              </ion-row>
          </ion-grid>

        </ion-col>

        <ion-col col-12 class="gifExerc" no-padding *ngSwitchCase="'ativos'">

          <div class="boxTreino" padding (click)="openPage(treino)" *ngFor="let treino of treinosAtivos">
            <h3> {{treino[1]}}  <ion-icon name="md-checkmark-circle" float-right class="checado"></ion-icon>  </h3>
            <p>Criado por: {{treino[4]}}</p>
            <p no-margin> <span><ion-icon name="md-calendar"></ion-icon> Período:</span>  {{treino[2]}} <span>a</span> {{treino[3]}}</p>
          </div>

          <ion-grid [hidden]="NothignAtivo == true">
              <ion-row>
                <ion-col class="msgNothing" col-12 padding>
                    Nenhum Treino para Ativo
                </ion-col>
              </ion-row>
          </ion-grid>

        </ion-col>

        <ion-col col-12 class="gifExerc" no-padding *ngSwitchCase="'vencidos'">

          <div class="boxTreino" padding (click)="openPage(treino)" *ngFor="let treino of treinosVencidos">
            <h3> {{treino[1]}}  <ion-icon name="md-checkmark-circle" float-right class="vencido"></ion-icon>  </h3>
            <p>Criado por: {{treino[4]}}</p>
            <p no-margin> <span><ion-icon name="md-calendar"></ion-icon> Período:</span>  {{treino[2]}} <span>a</span> {{treino[3]}}</p>
          </div>

          <ion-grid [hidden]="NothignVencidos == true">
              <ion-row>
                <ion-col class="msgNothing" col-12 padding>
                    Nenhum Treino para Vencido
                </ion-col>
              </ion-row>
          </ion-grid>

        </ion-col>

        <ion-col col-12 class="gifExerc" no-padding *ngSwitchCase="'todos'">

          <div class="boxTreino" padding (click)="openPage(treino)" *ngFor="let treino of treinosTodos">
            <h3> {{treino[1]}}  <ion-icon name="md-checkmark-circle" float-right class="checado"></ion-icon>  </h3>
            <p>Criado por: {{treino[4]}}</p>
            <p no-margin> <span><ion-icon name="md-calendar"></ion-icon> Período:</span>  {{treino[2]}} <span>a</span> {{treino[3]}}</p>
          </div>

          <ion-grid [hidden]="NothignTodos == true">
              <ion-row>
                <ion-col class="msgNothing" col-12 padding>
                    Nenhum Treino!!!
                </ion-col>
              </ion-row>
          </ion-grid>

        </ion-col>


      </div>

    </ion-row>

</ion-content>

<ion-footer>

    <ion-toolbar>
        <!--<ion-segment [(ngModel)]="typeTreino" color="secondary">
          <ion-segment-button value="hoje">
              <ion-icon name='ios-radio-button-on-outline'></ion-icon>
               HOJE
          </ion-segment-button>
          <ion-segment-button value="ativos">
              <ion-icon name='ios-checkmark-circle-outline'></ion-icon>
              ATIVOS
          </ion-segment-button>
          <ion-segment-button value="vencidos">
              <ion-icon name='ios-clock-outline'></ion-icon>
              Vencidos
          </ion-segment-button>
          <ion-segment-button value="todos">
              <ion-icon name='md-globe'></ion-icon>
              Todos
          </ion-segment-button>
        </ion-segment>-->
        <ion-segment [(ngModel)]="typeTreino" color="secondary">
          <ion-segment-button value="hoje">
              <ion-icon name='ios-radio-button-on-outline'></ion-icon>
               HOJE
          </ion-segment-button>
          <ion-segment-button value="ativos">
              <ion-icon name='ios-checkmark-circle-outline'></ion-icon>
              ATIVOS
          </ion-segment-button>
          <ion-segment-button value="vencidos">
              <ion-icon name='ios-clock-outline'></ion-icon>
              Vencidos
          </ion-segment-button>
          <ion-segment-button value="todos">
              <ion-icon name='md-globe'></ion-icon>
              Todos
          </ion-segment-button>
        </ion-segment>

    </ion-toolbar>

  </ion-footer>
