page-meus-treinos {
  .buttonsFooter button{
    color: #fff;
    font-size: 13px;
    font-weight: bold;
  }

  .boxTreino:first-child{
    margin-top: 0;
  }

  .boxTreino h3{
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
  }

  .boxTreino{
    background: #fff;
    border: #e1e1e1 2px solid;
    margin-top: 12px;
  }

  .boxTreino p{
    color: #b4b4b4;
  }

  .boxTreino p span{
    color: #050505;
  }


  .checado{
    color: #7ebe8e;
  }

  .vencido{
    color: red;
  }

  .segment-button{
    height: 100%!important;
    display: flex;
    flex-direction: column;
    color: #fff!important;
    border:none !important;
    font-weight: bold;
  }

}
