page-list-exercicios {

  .toolbar-content{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .listExerc ion-row{
    background: #fff;
  }

  .listExerc .infoExerc{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .listExerc p{
    padding: 0;
    margin: 0;
  }

  .listExerc ion-row:first-child{
    border-top: 2px solid #dcdcdc;
  }

  .listExerc ion-row{
    border: 2px solid #dcdcdc;
    border-top: none;
  }

  .listExerc h6{
    font-size: 1.4rem;
  }

}
