.bkgTema{
  background: #63aca9 !important;
}

#cabecalho-menu .item-inner {
    border: none;
}

.cabecalho-menu {
    background-image: url("../assets/images/backgrounds.jpg");
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;

    ion-avatar img {
        width: 50px;
        height: 50px;
        box-shadow: 0px 0px 30px color($colors,primary);
    }

    h2 {
        color: white;
        font-weight: bold;
    }

    p {
        color: #eee;
    }
}

.select-modal {
    background: rgba(0, 0, 0, 0.5);
    padding: 20% 5%;
 }

.bg-style {
  background-image: url('../assets/images/bg_login.jpg');
  background-size: cover;
  background-position: center;
}

.ajustTop{
  display: flex;
  justify-content: space-between;
}


.back-button.show-back-button{
  position: absolute !important;
  right: 0 !important;
  z-index: 9999;
}


.bkgPages{
  background-color: #f9f9f9 !important;
}

.msgNothing{
  background: #fdf8e3;
  color: #ad9d78;
  border: 2px solid #624b1c;
  font-size: 14px;
}


.actionGPMusc {

  .rowActionSheet{
    color: #000;
  }

  .musc:before{
    width: 50px;
    height: 50px;
    content: “”;
  }

  .action-sheet-group{
    border-radius: 10px;
  }

  .button-inner{
    font-size: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    color: #000;
    justify-content: left !important;
    padding-left: 80px !important;
  }


  button{
    background: #fff!important;
    position: relative;
  }

  button::before{ // if you want the image on the left of the title
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    content: "";
    display: block;
  }

  .title-img1::before{
    background-image: url("../assets/images/musculos/ABS_ICON_2X.PNG");
  }

  .title-img2::before{
    //background-image: url("../assets/images/musculos/ARMS_ICON_2X.png");
    background-image: url("../assets/images/musculos/ARMS_ICON_2X.PNG");
  }
  .title-img3::before{
    background-image: url("../assets/images/musculos/BACK_ICON_2X.PNG");
  }
  .title-img4::before{
    background-image: url("../assets/images/musculos/CHEST_ICON_2X.PNG");
  }
  .title-img5::before{
    background-image: url("../assets/images/musculos/SHOULDERS_ICON_2X.PNG");
  }
  .title-img6::before{
    background-image: url("../assets/images/musculos/LEGS_ICON_2X.PNG");
  }
  .title-img7::before{
    background-image: url("../assets/images/musculos/ICON_ELLIPTICAL.PNG");
  }
  .title-img8::before{
    background-image: url("../assets/images/musculos/ICON_LEG_STRETCH.PNG");
  }
  .title-img9::before{
    background-image: url("../assets/images/musculos/PULLOVER_ON_STABILITY_BALL_WITH_WEIGHT.PNG");
  }
}
