.bkgTema{
  background: #63aca9 !important;
}

#cabecalho-menu .item-inner {
    border: none;
}

.cabecalho-menu {
    background-image: url("../assets/images/backgrounds.jpg");
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;

    ion-avatar img {
        width: 50px;
        height: 50px;
    }

    h2 {
        color: white;
        font-weight: bold;
    }

    p {
        color: #eee;
    }
}

.select-modal {
    background: rgba(0, 0, 0, 0.5);
    padding: 20% 5%;
 }

.bg-style {
  background-image: url('../assets/images/bg_login.jpg');
  background-size: cover;
  background-position: center;
}

.ajustTop{
  display: flex;
  justify-content: space-between;
}


.back-button.show-back-button{
  position: absolute !important;
  right: 0 !important;
}

.bkgPages{
  background-color: #f9f9f9 !important;
}

.msgNothing{
  background: #fdf8e3;
  color: #ad9d78;
  border: 2px solid #624b1c;
  font-size: 14px;
}


.actionGPMusc {
  .rowActionSheet{
    color: red!important;
    background: red!important;
    background-color: red !important;
  }
}
