page-evolucao {
  ion-footer .toolbar-background{
    background: color($colors,primary);
  }

  .segment-button.segment-activated{
    //opacity: 0.8 !important;
    background-color: color($colors,secondary)!important;
  }
  .segment-md .segment-button{
    border: none;
  }

  .segment-button{
    max-width: 100% !important;
    height: 100%!important;
    color: #fff !important;
    background-color: color($colors,primary);
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0!important;
  }

  .buttonMore{
    margin-top: 0;
    margin-bottom: 0;
    height: 1.8em;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: none;
    font-weight: bold;
    font-size: 18px;
  }

  .listAval{
    background: #fff;
    border: #dcdcdc solid 2px;
    border-bottom: none;
    color: #bbbbbb;
    padding: 15px;
  }

  .listAval p{
    font-size: 1.6rem;
    margin: 0;
  }

  .listAval:last-child{
    border-bottom: #dcdcdc solid 2px;
  }

  ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ion-md-calendar{
    color: #666666!important;
    margin-right: 5px;
  }

  .ion-md-warning{
    float: right;
    color: #ffcf54;
  }

  .amcharts-chart-div a {
    display:none !important;
  }

  .toolbar-title-md{
    text-align: center;
  }

  .toolbar-md{
    padding: 0;
  }
}
