<ion-header>

  <ion-navbar>

      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Evolução</ion-title>

    <button ion-button icon-end float-right class="buttonMore" (click)="openModal()">
      <ion-icon name="md-add"></ion-icon>
    </button>

  </ion-navbar>

</ion-header>


<ion-content class="bkgPages">

    <ion-toolbar color="primary" justify-content-between (click)="presentActionSheet()">
        <ion-title style="font-weight: 500;">{{periodo}} MESES</ion-title>
    </ion-toolbar>

     <ion-grid *ngIf="Nothing">
      <ion-row>
        <ion-col class="msgNothing" col-12 padding>
          Nenhuma avaliação foi feita!!!
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [ngSwitch]="menuFooter" >

      <ion-row  [hidden]="menuFooter != 'composicao'">

        <ion-col col-11 style="margin-bottom:0;">
          <div id="graficComposicao" style="width:100%;height:250px;"></div>
        </ion-col>

        <!-- repeat de avaliacoes-->
        <ion-col col-11 class="listAval" *ngFor="let e of evolucao">
            <p><ion-icon name="md-calendar"></ion-icon>{{e.DATA_EVOL | date: 'dd/MM/yyyy'}}   <ion-icon name="md-warning"></ion-icon></p>
            <p>Peso: {{e.PESO_EVOL}} %Gordura: {{e.GORD_ATUAL_EVOL}}</p>
        </ion-col>

      </ion-row><!--- fim composicao --->

     <ion-row  [hidden]="menuFooter != 'imc'">

        <ion-col col-11 style="margin-bottom:0;">
          <div id="graficoIMC" style="width:100%;height:250px;"></div>
        </ion-col>

        <!-- repeat de avaliacoes-->
        <ion-col col-11 class="listAval" *ngFor="let e of evolucao">
            <p><ion-icon name="md-calendar"></ion-icon>{{e.DATA_EVOL | date: 'dd/MM/yyyy'}}  <ion-icon name="md-warning"></ion-icon></p>
            <p>Peso: {{e.PESO_EVOL}} Altura: {{e.ALTURA_EVOL}}</p>
        </ion-col>

      </ion-row>

      <ion-row  [hidden]="menuFooter != 'icq'">

          <ion-col col-11 style="margin-bottom:0;">
            <div id="graficoICQ" style="width:100%;height:250px;"></div>
          </ion-col>

            <!-- repeat de avaliacoes-->
            <ion-col col-11 class="listAval" *ngFor="let e of evolucao">
                <p><ion-icon name="md-calendar"></ion-icon>{{e.DATA_EVOL | date: 'dd/MM/yyyy'}}    <ion-icon name="md-warning"></ion-icon></p>
                <p>Cintura: {{e.CINTURA_EVOL}} Quadril: {{e.QUADRIL_EVOL}}</p>
            </ion-col>

      </ion-row>

  </ion-grid>



  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-segment [(ngModel)]="menuFooter" class="footerEvol">
        <ion-segment-button value="composicao">
          COMPOSIÇÃO
        </ion-segment-button>
        <ion-segment-button value="imc">
          IMC
        </ion-segment-button>
        <ion-segment-button value="icq">
          ICQ
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-footer>
